.navbar-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-active {
    height: 100%;
    width: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: absolute;
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5%;
}

.navlink {
    color: white;
    text-decoration: none;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.navlink-last {
    color: white;
    position: absolute;
    text-decoration: none;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10%;
}

.navlink:hover {
    box-shadow: inset 0 100px 0 0 #D80286;
}

.navlink-icon {
    width: 70%;
    height: 70%;
}

.open-nav-button {
    background-color: black;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0.5;
    transition: ease-in 0.2s;
}

.open-nav-icon {
    color: white;
}

.open-nav-button:hover {
    opacity: 1;
}

.close-nav-button {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0.5;
    transition: ease-in 0.2s;
}

.close-nav-icon {
    color: white;
}

.close-nav-button:hover {
    opacity: 1;
}

.navslide-enter {
    transform: translateX(-100%);
    transition: .2s linear;
}
.navslide-enter-active {
    transform: translateX(0%);
}
.navslide-exit {
    transform: translateX(0%);
    transition: .2s linear;
}
.navslide-exit-active {
    transform: translateX(-100%);
}